<template name="profile">

  <div class="full-page">

    {{> origamiErrors}}

    <div class="profile modal clear">
      <div class="profile-left pull-left">
        <div class="profile-image">
          <img src="{{profilePictureURL}}">
        </div>
        <a href="#" id="upload-image">Upload New Image</a>
      </div>

      <div>
        <span>Name: </span>
        <input class="profElem profile-name" type="text" value="{{profileName}}" placeholder="Enter your name" disabled>
        <a class="edit-name" href="#">(Edit)</a>
      </div>
      <div>
        <span>My Address (Optional)</span> 
        <input class="profElem profile-home" type="text" value="" placeholder="home address" disabled>
        <a class ="edit-home" href="#">(Edit)</a>
    </div>
  </div>

</template>