<template name="theFold">

  <div class = "full-page">
    
    <div id="modal0" class="modal-hero modal">
      <div>
        <h1>Plan an event for: <span class = "date_container">
          <a class = "left_arrow" >&#9668;</a><span class = "weekday"></span><a class = "right_arrow" >&#9658;</a></h1>
          </span>
        <a class = "btn nextModal" data-event="time:morning">Morning</a>
        <a class = "btn nextModal" data-event="time:afternoon">Afternoon</a>
        <a class = "btn nextModal" data-event="time:evening">Evening</a>
        <a class = "btn nextModal" data-event="time:night">Night</a>
        <a class = "btn nextModal" data-event="time:all">All Day</a>
      </div>
      <div class = "arrow_container">
        <!-- <a class = "arrow_back"> &lt; Back</a> -->
        <a class = "arrow_next"> Skip &gt;</a>
      </div>
    </div>

    <div id="modal1" class="modal-hero modal" style = "display:none; width: 500px">
      <div> 
        <h1>Type of event: </h1>
        <a class = "btn nextModal" data-event="type:romantic">Romanitc Date</a>
        <a class = "btn nextModal" data-event="type:friends">Fun with Friends</a>
        <a class = "btn nextModal" data-event="type:family oriented">Family Oriented</a>
        <a class = "btn nextModal" data-event="type:lonesome">Alone Time</a>
      </div>
      <div class = "arrow_container">
        <a class = "arrow_back"> &lt; Back</a>
        <a class = "arrow_next"> Skip &gt;</a>
      </div>
    </div>

    <div id="modal2" class="modal-hero modal" style = "display:none">
      <div>
        <h1>Energy Level:</h1>
        <a class = "btn nextModal" data-event="energy:energetic">Energetic</a>
        <a class = "btn nextModal" data-event="energy:conversation">Conversation</a>
        <a class = "btn nextModal" data-event="energy:relaxing">Relaxing</a>
        <a class = "btn nextModal" data-event="energy:quiet">Quiet</a>
      </div>
      <div class = "arrow_container">
        <a class = "arrow_back"> &lt; Back</a>
        <a class = "arrow_next"> Skip &gt;</a>
      </div>
    </div>

    <div id="modal3" class="modal-hero modal modal3" style = "display:none">
      <div>
        <h1>Ya'll Want EVEN More Crack?</h1>
        <a class = "btn nextModal nextModal3">CLICK HERE TO GET IT</a>
      </div>
      <div class = "arrow_container">
        <a class = "arrow_back"> &lt; Back</a>
        <!-- <a class = "arrow_next"> Skip &gt;</a> -->
      </div>
    </div>
</template>