<template name="theFold">

  <div class="the-fold">

    <h2>You're In Deep Now Ma'boy</h2>
    <p>There's weather here too?!</p>
    <ul>
      <li>Then there's a list of fun things!</li>
      <li>I love lamp</li>
      <li>oh emmm gerrrsss</li>
    </ul>
    <a href="#">Roll dat piff again</a> | <a id="special-link" href="#">Add Event</a>

    {{#if special}}
      {{> special}}
    {{/if}}

  </div>
  <div class = "full-page">
    
    <div class="modal-hero modal0">
      <div>
        <h1>Plan an event for: </h1>
        <a class = "btn showFold0">Morning</a>
        <a class = "btn showFold0">Afternoon</a>
        <a class = "btn showFold0">Evening</a>
        <a class = "btn showFold0">Night</a>
        <a class = "btn showFold0">All Day</a>
      </div>
    </div>

    <div class="modal-hero modal1" style = "display:none; width: 500px">
      <h1>Type of event: </h1>
      <a class = "btn showFold1">Romanitc Date</a>
      <a class = "btn showFold1">Fun with friends</a>
      <a class = "btn showFold1">Family Oriented</a>
      <a class = "btn showFold1">Alone Time</a>
    </div>

    <div class="modal-hero modal2" style = "display:none">
      <h1>Energy Level:</h1>
      <a class = "btn showFold2">Energetic</a>
      <a class = "btn showFold2">Conversation</a>
      <a class = "btn showFold2">Relaxing</a>
      <a class = "btn showFold2">Quiet</a>
    </div>

    <div class="modal-hero modal3" style = "display:none">
      <h1>Ya'll Want EVEN More Crack?</h1>
      <a class = "btn showFold3">CLICK HERE TO GET IT</a>
    </div>

    <!-- <div class="modal-hero modal1">
      <h1>Ya'll Want Some More Crack?</h1>
      <a class = "btn showFold1" href="{{pathFor 'signUp'}}">CLICK HERE TO GET IT</a>
    </div>

    <div class="modal-hero modal2" style = "display:none">
      <h1>Ya'll Want Even More Crack?</h1>
      <a class = "btn showFold2" href="{{pathFor 'signUp'}}">CLICK HERE TO GET IT</a>
    </div>

    <div class="modal-hero modal3" style = "display:none">
      <h1>Ya'll Want EVEN More Crack?</h1>
      <a class = "btn showFold3" href="{{pathFor 'signUp'}}">CLICK HERE TO GET IT</a>
    </div>
  </div> -->

</template>




<template name="special">

  <h1>SPECIAL</h1>

</template>