<template name="gamify">
<div class = "full-page">
	<div class = "leaderboard">
		<h2>Leaderboard</h2>
	</div>
	<div class = "stats">
		<div class = "badges">
			<h2>My Badges</h2>
			{{#if areBadges}}
				
				{{#each unclaimedBadges}}
					<div class = "badgeContainer">
						<div class = "badge unclaimedBadge" style="background:url('{{image}}')">{{name}}</div>
						<div class= "badgeDescription" style="display:none;">{{description}}</div>
					</div>
				{{/each}}
				
				{{#each claimedBadges}}
				<div class = "badgeContainer">
					<div class = "badge claimedBadge" style="background:url('{{image}}')">{{name}}</div>
					<div class = "badgeDescription" style="display:none;">{{description}}</div>
				</div>
				{{/each}}
			{{else}}
				<p>No Bades here :(</p>
			{{/if}}
		</div>

		<div class = "myStats">
			<h2>My Stats</h2>
		</div>
	</div>
</div>
</template>

<!-- <template name="genericBadge">
	{{name}} <img src="{{image}}">
	<div class = "badge" style="background:url('{{image}}')">{{name}}</div>
</template> -->