.pfold-container {
    position: absolute;
    z-index: 1;
}


.uc-container {
    width: 200px;
    height: 150px;
    float: left;
    margin: 15px;
}

.uc-single, 
.uc-final,
.uc-initial-content,
.uc-back,
.uc-front {
    background: #29a6aa url(../images/noise.png) repeat top left;
}

.uc-initial-content img {
    display: block;
}