// Global Constants
$link-color: rgb( 52, 52, 52 );
$modal-box-shadow: 0px 4px 15px gray;

// Header Constants
$header-height: 45px;
$header-bg: rgba( 255, 255, 255, 1 );


// Global Styles
html, body {
  font-family: Helvetica neue;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;

  a {
    text-decoration: none;
    color: $link-color;
  }

  .btn {
    padding: 5px 10px;
    background: #00b6ff;
    border-radius: 5px;
    border: none;
    color: white;
  
    &:active {
      position:relative;
      top:1px;
    } 

    &:hover{
      cursor:pointer;
    }
  }
  .pull-right {
    float: right;
    margin-right: 15px;
  }

  .pull-left{
    float: left;
    margin-left: 15px;
  }
  .clear:after {
    content: ' ';
    clear: both;
    display: table;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .full-page {
    position: absolute;
    top: $header-height;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 40px;
    padding-top: 0;
    background: none;
    overflow-x: scroll;
    z-index: 5;
  }
  .alert {
    margin: 10px 0;
    background: #FFF
  }
  .alert.alert-error {
    background: rgba( 255, 100, 100, 0.8);
  }
  .modal {
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    background: #FFF;
    text-align: center;
    border-radius: 3px;
    box-shadow: $modal-box-shadow;
  }
  .left_arrow{
    font-size: 16px;

    &:hover{
      cursor: pointer;
    }
  }

  .right_arrow{
    font-size: 12px;
     &:hover{
      cursor: pointer;
    }
  }
  .date_container{
    padding:2px;
    border: solid 1px #c6c6c6;

    &:hover{
      background: #c6c6c6;
    }

  }
}

// Map Styles
#map {
  height: 100%;
}
.leaflet-left{
  top:50px;
}


// path { stroke-linejoin: round; stroke-linecap: round; fill: none}
path.river { stroke : #24b; }
path.road { stroke: #b42; }
path.water { stroke: #bcf; fill: #abf; }
path.landuse { stroke: #bb2; fill: #cc2; opacity: 0.4 }
path.building { stroke: #f00; fill: #f00; }

// Header Styles
.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: $header-bg;
  box-shadow: 0px 3px 13px gray;
  font-size: 0; /* hack to prevent extra space around inline-block elements */
  z-index: 10;
}
  .logo-link {
    display: inline-block;
    padding-left: 50px;
    line-height: $header-height;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 100;
    margin: 0 20px;
  }
  .today{
    display: inline-block;
    position: absolute;
    padding-left: 50px;
    line-height: $header-height;
  }
  .user-links {

    // font-size: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      display: inline-table;

      ul {//dropdown menu
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background: #fff; 
        border-radius: 0px;
        padding: 0;

        &:after {
          content: "";
          clear: both;
          display: block;
        }

        ul {
          position: absolute;
          left: 100%;
          top:0;
        }

        li {
          float: none;
          position: relative;
          // border-top: 1px solid #bec2c4;
          border-bottom: 1px solid #bec2c4;

          a {
            // padding: 0 20px;
            // color: #fff;

            &:hover {
              background: #ededed;
            }
          }
        }
      }

      li {
        float: left;
        // width: 95px;
        line-height: $header-height;

        &:hover {
          background: #ededed;

          a {
            // color: #fff;
          }

          &> ul {
            display: block;
          }
        }

        a {
          padding: 0 20px;
          display: block;
          min-width: 150px;
          font-size: 12pt;
          color: #757575;
        }
      }
    }
  }


// Landing Page Styles
.landing-hero {
  width: 400px;
  height: 140px;
  h1 {
    font-weight: 100;
  }
}


// Signup Styles
.sign-up, .log-in {
  width: 350px;
  padding-top: 1px;
  padding-bottom: 18px;

  input {
    display: block;
    margin: 10px auto;
  }

  h2 {
      font-weight: 100;
  }
}


// The Fold Styles
.the-fold, .my_trips {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  top: 100px;
  right: 40px;
  width: 300px;
  background: $header-bg;
  box-shadow: $modal-box-shadow;
  font-size: 10pt;
  overflow-y: scroll;
  bottom: 40px;
  h2 {
    font-weight: 200;
  }
}


// Modal-hero
.modal-hero {
  width: 415px;
  height: 140px;

  h1 {
    font-weight: 100;
  }
  .arrow_container{
    width: 100%;
    margin-top: 10px;
    font-size: 10pt;
    .arrow_back{
      float: left;
    }
    .arrow_next{
      float: right;
    }
    &:hover{
      cursor:pointer;
    }
  }
}

// EventDetail
.eventDetail{
  list-style-type: none;
  .eventImg, .eventDetails{
    // width: 100px; 
    display: inline-block;
    vertical-align: top;
    ul{
      list-style-type: none;

    }
  }
  .eventImg{
    margin-left: -30px;
    width: 100px;
  }
  .eventDetails{
    // padding-left:-30px;
    width: 180px;
    margin-left: -30px;
    .name{
      font-weight: 300;
      font-size: 16px;
      color: #00b6ff;
    }
  }
}


