<template name="hopelessRomantic">
<div class = "badge hopelessRomantic">Hopeless Romantic</div>
</template>

<template name="loneWolf">
<div class = "badge loneWolf">Lone Wolf </div>
</template>

<template name="familyWoman">
<div class = "badge familyWoman">Family (Wo)Man </div>
</template>

<template name="gregariousGroupie">
<div class = "badge gregariousGroupie">Gregarious Groupie </div>
</template>

<template name="sushiInamoratum">
<div class = "badge sushiInamoratum">Sushi Inamoratum</div>
</template>

<template name="mallRat">
<div class = "badge mallRat">Mall Rat</div>
</template>

<template name="explorer">
<div class = "badge explorer">Explorer</div>
</template>

<template name="superTrooper">
<div class = "badge superTrooper">Super Trooper</div>
</template>

<template name="gorilla">
<div class = "badge gorilla">Gorilla</div>
</template>
