<template name="header">

  <div class="header">
    <a class="logo-link" href="{{pathFor 'landing'}}">Origami</a>
    <div class = "slogan">unfold your city.</div>
<!--     <div class = "today pull-left" style = "display:none">
       <a> Today is <span class = "weekday"></span>&#x25BC</a>
    </div> -->
    <div class="user-links pull-right">
      <ul>
        {{#if currentUser}}
          {{> sessionLinks}}
        {{else}}
          {{> guestLinks}}
        {{/if}}
      </ul>
    </div>
  </div>

</template>



<template name="sessionLinks">

  <li>
    <a href="#">{{userName}} &#x25BC</a>
    <ul>
      <li><a href="{{pathFor 'about'}}"><span class = "eIcon glyphicon glyphicon-info-sign"/> About</a></li>
      <li><a href="{{pathFor 'stats'}}"><span class = "eIcon glyphicon glyphicon-stats"/> Stats</a></li>
      <li><a href="{{pathFor 'myTrips'}}"><span class = "eIcon glyphicon glyphicon-list"/> My Trips</a></li>
      <li><a href="{{pathFor 'myProfile'}}"><span class = "eIcon glyphicon glyphicon-cog"/> Settings</a></li>
      <li><a href="{{pathFor 'logOut'}}"><span class = "eIcon glyphicon glyphicon-off"/> Log Out</a></li>
    </ul>
  </li>

</template>


<template name="guestLinks">

  <li><a href="{{pathFor 'signUp'}}">Sign Up</a></li>
  <li><a href="{{pathFor 'logIn'}}">Log In</a></li>

</template>