<template name="tripDetail">

  <div class="the-fold">
    <!-- <div id="uc-container" class="uc-container">
      <div class="uc-initial-content">
        <h1>INITIAL CONTENT</h1>
      </div>
      <div class="uc-final-content"> -->
        <h2>{{trip.name}}</h2>

        {{#if tripEvents}}
          <ul>
            {{#each tripEvents}}
              {{> eventDetail}}
            {{/each}}
          </ul>
        {{else}}
          <h1>No Events</h1>
        {{/if}}
        <a class="re-roll-trip" href="#">Refold</a><!-- | <a class="add-event-link" href="#">Add Event</a> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>

</template>


<template name="eventDetail">
  <div id="li-{{_id}}" class="eventDetail">
    <li>
      <div>
        <div class="eventImg"><img style = "width:100px;" src="{{image}}"></div>
        <div class="eventDetails">
          <ul>
            <li><a href = "{{url}}" target="_blank" class = "name">{{name}}</a></li>
            <li><img src="{{rating.img}}"></li>
            <li>{{location.address}}</li>
            <li>{{phoneNo}}</li>
          </ul>
        </div>
        <div class = "eventIcons">
        <ul>
          <li><span class = "eIcon glyphicon glyphicon-remove"></span>
          <!-- <li><span class = "eIcon glyphicon glyphicon-repeat"></span> -->
        </ul>
        </div>
      </div>
    </li>
  </div>
</template>