<template name="tripDetail">

  <div class="the-fold">
    <h2>{{trip.name}}</h2>

    {{#if tripEvents}}
      <ul>
        {{#each tripEvents}}
          {{> eventDetail}}
        {{/each}}
      </ul>
    {{else}}
      <h1>No Events</h1>
    {{/if}}
    <a class="re-roll-trip" href="#">Roll dat piff again</a> | <a class="add-event-link" href="#">Add Event</a>
  </div>

</template>


<template name="eventDetail">
  <div class = "eventDetail">
    <li>
      <div>
        <div class = "eventImg"><img src="{{image}}"></div>
        <div class = "eventDetails">
          <ul>
            <li><a href = "{{url}}" class = "name">{{name}}</a>
            <li><img src="{{rating.img}}">
            <li>{{location.address}}
            <li> {{phoneNo}}
            

          </ul>
        </div>
      </div>
    </li>
  </div>
</template>